* {
    padding: 0;
    margin: 0;
}

h1, h2 {
    margin-bottom: 15px;
}

.post-wrapper a {
    text-decoration: none;
    color: black;
}

.content {
    margin: 50px;
}

body {
    background-color: #F6F6FF;
}

textarea.create-post, textarea.comment-post {
    background-color: #E5E5FF;
    color:black;
    border: none;
    width: 400px;
    height: 100px;
    padding: 5px;
}

textarea.comment-post {
    height: 50px;

}

p.error {
    color: red;
}

button.publish {
    border: none;
    border-radius: 5px;
    background: linear-gradient(#FFAF67, #FF7067);
    padding: 10px 20px;
    color: white;
    margin-bottom: 20px;
    margin-top: 15px;
}

button.publish:hover {
    cursor:pointer;
}

.post-wrapper {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    width: 800px;
    height: min-content;
}

.fav {
    height: 20px;
    margin-right: 10px;
}

.like:hover {
    margin-left: 1px;
}